# Granularity in mixed-integer nonlinear optimization

## Summary of the document

This document is complementary to the paper "Granularity in mixed-integer nonlinear optimization". The intention is to make the numerical results transparent. The generated results for the IPCP, the feasibility pump as well as for B-Hyb are stored as pandas data-frames and are concatenated herein. 

The latex-tables of the article are produced by using the command print(dataframe.to_latex(float_format = '%.2f'))

In [187]:
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format
import numpy as np
import pickle

def load_obj(name ):
    with open(name + '.pkl', 'rb') as f:
        return pickle.load(f)

def store_FRA_results_for_Bonmin(name_results ='SOR_all_instances_0.5' ):
    results = load_obj(name_results)
    pseudo_granular_results = results[results['obj']!=float('inf')]
    np.save('vals_SOR',np.array(pseudo_granular_results['obj']))
    testbed = list(pseudo_granular_results.index)
    with open(r'../testbed/SOR_succ.txt', 'w') as f:
        for item in testbed:
            f.write("%s\n" % item)
def load_successful_results(name):
    results = load_obj(name)
    succ_results = results[results['obj'] != float('inf')]
    print(len(succ_results)," Problems are pseudo granular")
    return succ_results

def load_problems_with_computable_Lipschitz_constant(name):
    results = load_obj(name)
    L_results = results.loc[results['time L']<=1800]
    print("We can compute Lipschitz constants for", len(L_results)," Problems")
    return L_results

def load_problems_with_time_limit_Lipschitz(name):
    results = load_obj(name)
    L_results = results.loc[results['time L']>1800]
    print("We can't compute Lipschitz constants for", len(L_results)," Problems")
    return L_results
    
def find_simple_problems(result_frame):
    constr_quadrouple = result_frame['constrs'].to_list()
    simple_problems = []
    for idx, quadrouple in enumerate(constr_quadrouple):
        if quadrouple[-6:-1] == ' 0, 0':
            simple_problems.append(result_frame.index[idx])
    return simple_problems

def filter_instances_from_A_not_contained_in_B(resA,resB):
    res_set = set(resA.index)
    res_set.difference_update(list(resB.index))
    res_list = list(res_set)
    res_list.sort()
    return res_list

def filter_instances_nonlinear_in_y(result):
    result_nonlinear = result[result['constrs'].apply(lambda x: int(x[-2]))>0]
    return result_nonlinear

def filter_out_only_epi_problems(result):
    result_nonepi = result[result['constrs']!='(1, 1, 1, 1)']
    return result_nonepi

## Analysis of results
We tested FRA-SOR for $\delta \in \{0.5,0.75,0.9999\}$, with $\delta$ being the enlargement parameter for the box constraints. We found that most problems were granular for $\delta = 0.9999$ (even though Lipschitz constants were bigger). However, interestingly, we found that the larger the value of $\delta$, the more difficult the computation of Lipschitz constants (i.e. the longer the solver needed to solve the auxiliary problem).

Next, we report our main results with $\delta = 0.9999$.

In [126]:
filename = 'SOR_all_instances_0.9999'
results_overall = load_obj(filename)
results_L_computable = load_problems_with_computable_Lipschitz_constant(filename)
results_pseudo_granular = load_successful_results(filename)
results_L_not_computable = load_problems_with_time_limit_Lipschitz(filename)

We can compute Lipschitz constants for 183  Problems
52  Problems are pseudo granular
We can't compute Lipschitz constants for 27  Problems

In [127]:
len(results_pseudo_granular)

52

So we obtain feasible points for 52 optimization problems with $\delta = 0.9999$. Let us initially analyze the difficulty of the auxiliary problem.

### Lipschitz computation
Here, we analyse how much time the computation of Lipschitz constants take dependently on the problem-size. Let us start with problems where the Lipschitz constant is not computable

In [130]:
results_L_not_computable[['vars','constrs']]

                                 vars           constrs
edgecross14-058       (183, 182, 182)   (1457, 1, 1, 1)
edgecross14-098       (183, 182, 182)   (1457, 1, 1, 1)
edgecross14-117       (183, 182, 182)   (1457, 1, 1, 1)
edgecross14-137       (183, 182, 182)   (1457, 1, 1, 1)
edgecross20-040       (381, 380, 380)   (4561, 1, 1, 1)
edgecross20-080       (381, 380, 380)   (4561, 1, 1, 1)
edgecross22-048       (463, 462, 462)   (6161, 1, 1, 1)
edgecross22-096       (463, 462, 462)   (6161, 1, 1, 1)
edgecross24-057       (553, 552, 552)   (8097, 1, 1, 1)
edgecross24-115       (553, 552, 552)   (8097, 1, 1, 1)
faclay20h             (191, 190, 190)   (2281, 1, 1, 1)
faclay25              (301, 300, 300)   (4601, 1, 1, 1)
faclay30              (436, 435, 435)   (8121, 1, 1, 1)
faclay30h             (436, 435, 435)   (8121, 1, 1, 1)
faclay33              (529, 528, 528)  (10913, 1, 1, 1)
faclay35              (596, 595, 595)  (13091, 1, 1, 1)
sporttournament30     (436, 435, 435)      (1, 1, 1, 1)
sporttournament32     (497, 496, 496)      (1, 1, 1, 1)
sporttournament34     (562, 561, 561)      (1, 1, 1, 1)
sporttournament36     (631, 630, 630)      (1, 1, 1, 1)
sporttournament38     (704, 703, 703)      (1, 1, 1, 1)
sporttournament40     (781, 780, 780)      (1, 1, 1, 1)
sporttournament42     (862, 861, 861)      (1, 1, 1, 1)
sporttournament44     (947, 946, 946)      (1, 1, 1, 1)
sporttournament46  (1036, 1035, 1035)      (1, 1, 1, 1)
sporttournament48  (1129, 1128, 1128)      (1, 1, 1, 1)
sporttournament50  (1226, 1225, 1225)      (1, 1, 1, 1)

Below, we list the 20 interesting problems where the computation of all Lipschitz constants is possible and takes at least 2 seconds time

In [176]:
results_L[results_L['time L']>2][['vars','constrs','time L']]

                                 vars             constrs    time L
cvxnonsep_normcon40r      (80, 20, 0)    (41, 40, 20, 20)     $2.34
edgecross10-040          (91, 90, 90)      (481, 1, 1, 1)    $26.07
edgecross10-050          (91, 90, 90)      (481, 1, 1, 1)    $51.41
edgecross10-070          (91, 90, 90)      (481, 1, 1, 1) $1,095.80
edgecross14-176       (183, 182, 182)     (1457, 1, 1, 1)   $240.85
sonet17v4             (136, 136, 136)  (2057, 17, 17, 17)     $2.34
sonet18v6             (153, 153, 153)  (2466, 18, 18, 18)     $2.55
sonet19v5             (171, 171, 171)  (2926, 19, 19, 19)     $2.81
sonet20v6             (190, 190, 190)  (3440, 20, 20, 20)     $3.06
sonet21v6             (210, 210, 210)  (4011, 21, 21, 21)     $3.30
sonet22v4             (231, 231, 231)  (4642, 22, 22, 22)     $3.63
sonet23v6             (253, 253, 253)  (5336, 23, 23, 23)     $3.87
sonet24v2             (276, 276, 276)  (6096, 24, 24, 24)     $4.24
sonet25v5             (300, 300, 300)  (6925, 25, 25, 25)     $4.62
sporttournament18     (154, 153, 153)        (1, 1, 1, 1)    $10.08
sporttournament20     (191, 190, 190)        (1, 1, 1, 1)    $16.79
sporttournament22     (232, 231, 231)        (1, 1, 1, 1)    $22.07
sporttournament24     (277, 276, 276)        (1, 1, 1, 1)   $188.55
sporttournament26     (326, 325, 325)        (1, 1, 1, 1)   $229.15
sporttournament28     (379, 378, 378)        (1, 1, 1, 1)   $470.97

Interestingly, as mentioned above, for enlargement parameter $\delta = 0.5$, we can compute Lipschitz constants even for larger problems. Below, we list all 14 problems where we get a Lipschitz constant for $\delta = 0.5$, but not for $\delta = 0.9999$

In [165]:
results_L_computable_05 = load_problems_with_computable_Lipschitz_constant('SOR_all_instances_0.5')
Lipschitz_possible_only_05 = filter_instances_from_A_not_contained_in_B(results_L_computable_05,results_L_computable)
results_L_computable_05.loc[Lipschitz_possible_only_05][['vars','constrs','time L']]

We can compute Lipschitz constants for 197  Problems

                                 vars          constrs    time L
edgecross14-058       (183, 182, 182)  (1457, 1, 1, 1)   $520.04
edgecross20-040       (381, 380, 380)  (4561, 1, 1, 1)     $1.97
edgecross22-048       (463, 462, 462)  (6161, 1, 1, 1)     $3.33
edgecross24-057       (553, 552, 552)  (8097, 1, 1, 1)    $14.20
faclay20h             (191, 190, 190)  (2281, 1, 1, 1)   $147.93
sporttournament30     (436, 435, 435)     (1, 1, 1, 1)    $10.39
sporttournament32     (497, 496, 496)     (1, 1, 1, 1)    $14.07
sporttournament34     (562, 561, 561)     (1, 1, 1, 1)    $87.50
sporttournament36     (631, 630, 630)     (1, 1, 1, 1)   $154.60
sporttournament38     (704, 703, 703)     (1, 1, 1, 1)   $283.53
sporttournament40     (781, 780, 780)     (1, 1, 1, 1)   $363.55
sporttournament42     (862, 861, 861)     (1, 1, 1, 1) $1,141.05
sporttournament46  (1036, 1035, 1035)     (1, 1, 1, 1)   $946.42
sporttournament48  (1129, 1128, 1128)     (1, 1, 1, 1)   $782.45

### Feasible points
Let us now investigate the problems for which we get a feasible point. We found that several problems which are originally unconstrained problems, but have been remodelled using the epigraph reformulation. We leave out such problems in our analysis, as the point obtained by FRA-SOR then corresponds to solving the unconstrained problem and rounding the optimal point.

In [188]:
results_nonepi = filter_out_only_epi_problems(results099_succ)

In [189]:
results_nonepi

,vars,constrs,time L,time SOR,obj,constr_value
cvxnonsep_normcon20r,"(40, 10, 0)","(21, 20, 10, 10)",$1.17,$0.05,$-14.65,$-inf
cvxnonsep_normcon30r,"(60, 15, 0)","(31, 30, 15, 15)",$1.77,$0.05,$-14.80,$-inf
ex1223a,"(7, 4, 4)","(9, 4, 4, 0)",$0.00,$0.09,$6.07,$-inf
ex4,"(36, 25, 25)","(30, 25, 25, 0)",$0.00,$0.05,$-6.70,$-inf
genpooling_lee1,"(49, 9, 9)","(82, 20, 0, 0)",$0.00,$0.08,"$-4,309.83",$-inf
genpooling_lee2,"(53, 9, 9)","(92, 30, 0, 0)",$0.00,$0.11,"$-3,759.46",$-inf
genpooling_meyer10,"(394, 187, 187)","(423, 33, 0, 0)",$0.00,$0.17,"$5,504,875.19",$-inf
genpooling_meyer15,"(734, 352, 352)","(768, 48, 0, 0)",$0.00,$0.34,"$6,544,066.67",$-inf
ndcc12,"(644, 46, 46)","(237, 46, 0, 0)",$0.00,$0.12,$108.11,$-inf
ndcc13,"(630, 42, 42)","(254, 42, 0, 0)",$0.00,$0.25,$107.57,$-inf
ndcc14,"(864, 54, 54)","(305, 54, 0, 0)",$0.00,$0.20,$143.31,$-inf
ndcc15,"(680, 40, 40)","(306, 40, 0, 0)",$0.00,$0.14,$102.42,$-inf
ndcc16,"(1080, 60, 60)","(377, 60, 0, 0)",$0.00,$0.23,$145.89,$-inf
nous1,"(50, 2, 2)","(43, 28, 0, 0)",$0.00,$0.08,$1.57,$-inf
nous2,"(50, 2, 2)","(43, 28, 0, 0)",$0.00,$0.17,$1.38,$-inf
ringpack_10_1,"(70, 50, 50)","(385, 330, 330, 0)",$0.00,$0.20,$-4.17,$-inf
ringpack_10_2,"(80, 60, 60)","(475, 420, 420, 0)",$0.00,$0.45,$0.00,$-inf
ringpack_20_1,"(215, 175, 175)","(2547, 2337, 2337, 0)",$0.00,$161.74,$-4.17,$-inf
ringpack_20_2,"(235, 195, 195)","(2927, 2717, 2717, 0)",$0.00,$398.89,$0.00,$-inf
ringpack_30_1,"(433, 373, 373)","(7898, 7433, 7433, 0)",$0.00,$399.65,$-6.26,$-inf
smallinvDAXr1b150-165,"(31, 30, 0)","(4, 1, 1, 1)",$0.14,$0.03,$224.68,$-124.01
smallinvDAXr1b200-220,"(31, 30, 0)","(4, 1, 1, 1)",$0.12,$0.05,$313.32,$-138.13
smallinvDAXr2b150-165,"(31, 30, 0)","(4, 1, 1, 1)",$0.12,$0.02,$222.74,$-122.07
smallinvDAXr2b200-220,"(31, 30, 0)","(4, 1, 1, 1)",$0.14,$0.05,$311.29,$-136.10
smallinvDAXr3b150-165,"(31, 30, 0)","(4, 1, 1, 1)",$0.14,$0.03,$220.66,$-120.00
smallinvDAXr3b200-220,"(31, 30, 0)","(4, 1, 1, 1)",$0.12,$0.05,$309.15,$-133.97
smallinvDAXr4b150-165,"(31, 30, 0)","(4, 1, 1, 1)",$0.12,$0.05,$218.43,$-117.77
smallinvDAXr4b200-220,"(31, 30, 0)","(4, 1, 1, 1)",$0.15,$0.06,$306.44,$-131.26
smallinvDAXr5b150-165,"(31, 30, 0)","(4, 1, 1, 1)",$0.12,$0.06,$215.85,$-115.19
smallinvDAXr5b200-220,"(31, 30, 0)","(4, 1, 1, 1)",$0.14,$0.05,$303.02,$-127.83
sonet17v4,"(136, 136, 136)","(2057, 17, 17, 17)",$2.34,$6.39,"$1,816,146.00",$-inf
sonet18v6,"(153, 153, 153)","(2466, 18, 18, 18)",$2.55,$19.34,"$6,925,440.00",$-inf
sonet19v5,"(171, 171, 171)","(2926, 19, 19, 19)",$2.81,$20.41,"$4,806,792.00",$-inf
sonet20v6,"(190, 190, 190)","(3440, 20, 20, 20)",$3.06,$0.25,"$9,245,610.00",$-inf
sonet21v6,"(210, 210, 210)","(4011, 21, 21, 21)",$3.30,$62.86,"$10,674,610.00",$-inf
sonet22v4,"(231, 231, 231)","(4642, 22, 22, 22)",$3.63,$122.66,"$3,408,192.00",$-inf
sonet23v6,"(253, 253, 253)","(5336, 23, 23, 23)",$3.87,$163.18,"$12,764,340.00",$-inf
sonet24v2,"(276, 276, 276)","(6096, 24, 24, 24)",$4.24,$0.56,"$21,512,599.00",$-inf
supplychain,"(27, 3, 3)","(30, 6, 0, 0)",$0.00,$0.03,"$2,288.16",$-inf

In [28]:
set1

{'genpooling_lee2',
 'genpooling_meyer10',
 'ndcc12',
 'ndcc14',
 'ndcc15',
 'sonet20v6',
 'sonet24v2'}

In [6]:
len(results[results['obj'] != float('inf')])

42

In [15]:
results.to_html('res_overview.html')

## Visualization of "easy" nonlinear problems

In [17]:
results_pos = results[results['obj']!=np.inf]
results_pos = results_pos.style.apply(lambda x: ['background: lightgreen' if x['constrs'][-6:-1] == ' 0, 0' else '' for i in x], 
               axis=1)

In [36]:
with open('res.html', 'w') as html:
    html.write(results_pos.render())